.destinos {
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(119, 185, 119, 0.178);
}

.row-dest {
  margin-top: 60px;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.col-dest {
  background: #fff;
  flex-basis: 32%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  
}

.col-dest:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.col-dest img {
  transition: transform .5s ease;
}

.col-dest img:hover {
  transform: scale(1.05);
}

.col-dest img {
  width: 100%;
  margin-bottom: 0;
}




@media(max-width: 700px) {
  .row-dest{
    flex-direction: column;

  }
}