.footer {
  width: 100%;
  padding-top: 30px;
}

.row-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  color: #fff;
}

.col-footer {
  margin-bottom: 30px;
  text-align: left;
}

.col-footer h3 {
  text-align: left;
}

.col-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.copy-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.966);
  color: #fff;
}



@media(max-width: 700px) {
  .row-footer{
    flex-direction: column;
  }
  .copy-footer {
    font-size: 12px;
  }
}
